doctype html
html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Staying@home
    meta(name="description" content="Staying@home gamified")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:title" content="Staying@home")
    meta(property="og:url" content="https://www.stayingathome.com/")
    meta(property="og:description" content="Staying@home gamified")
    meta(property="og:image" content=imageFileName)
    meta(property="og:type" content="website")
    link(rel="shortcut icon" href="icon/favicon.png" type="image/x-icon")

    script(src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"
        integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/flatly/bootstrap.min.css")

    body
        nav(class="navbar fixed-top navbar-dark bg-dark navbar-expand")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")


            nav(class="collapse navbar-collapse nav" id="navbarNav")
                a(class="navbar-brand") Staying@home
                ul(class="navbar-nav nav")
                    li(class="nav-item ")
                        

        div(class="container" data-spy="scroll")
